/* Body */


body {
    text-align: center;
    text-decoration: solid;
    background-image: url('https://i.postimg.cc/g25B0Vp0/pexels-scott-webb-2824173.jpg');
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

.container {
    padding: 30px;
}
